.project {
  position: relative;
  z-index: 101;
  padding: 1.5rem;
  background-color: #262626d4;
  color: beige;
  width: 100%;
}
.heading {
  padding-bottom: 1rem;
  border-bottom: 1px solid beige;
  margin-bottom: 1rem;
}
.heading .name {
  font-weight: 300;
}
.heading .desc {
  font-weight: 300;
  font-size: 0.95rem;
  color: #f2f2dce6;
}
.heading .creation {
  font-size: 0.85rem;
  color: #f5f5dc87;
}
.memberlist {
  margin-bottom: 1rem;
}
.memberlist .heading {
  font-weight: 200;
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.status {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 0.85rem;
  margin-bottom: 1rem;
}
.status .stattext {
  font-size: 0.8rem;
  font-weight: 200;
}
.toremove {
  font-size: 0.85rem;
  background-color: #00000073;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
}
.toremovewrspc {
  border-bottom: 1px solid #00e3ff;
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .project {
    width: 35rem;
  }
  .deletedialog {
    width: 20rem;
  }
  .removedialog {
    width: 20rem;
  }
}

@media (min-width: 1024px) {
  .project {
    width: 45rem;
  }
}
