.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  opacity: 1;
  background-color: #8383834d;
  backdrop-filter: blur(5px);
}
.backdrop.ignore-header {
  top: var(--header-height);
  height: calc(100vh - var(--header-height));
}
.backdrop.clear {
  backdrop-filter: unset;
  background-color: unset;
}

.backdrop.layer0 {
  z-index: 100;
}
.backdrop.layer1 {
  z-index: 105;
}
.backdrop.layer2 {
  z-index: 110;
}
