.status {
  position: relative;
  z-index: 50;
  padding: 2.5rem;
  background-color: #262626d4;
  width: 100%;
  text-align: center;
}
.status h2 {
  color: beige;
  font-weight: 200;
}
.heading {
  text-align: center;
}
.message {
  color: beige;
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .status {
    width: unset;
    min-width: 15rem;
  }
}
@media (min-width: 1024px) {
  .status {
    min-width: 20rem;
  }
}
