.status {
  position: relative;
  z-index: 101;
  padding: 2.5rem;
  background-color: #262626d4;
  width: 100%;
  text-align: center;
}
.status h2 {
  color: beige;
  font-weight: 200;
}
.heading {
  text-align: center;
}
.message {
  color: beige;
  font-size: 0.9rem;
}