.input {
  display: inline-block;
  margin: 1.5rem 0;
  position: relative;
}
.input.no-title {
  margin-bottom: 0;
}
.input.no-title::before {
  display: none;
}
.input input {
  height: 100%;
  width: 100%;
  font-size: var(--data-size);
  border: none;
  padding: 0.5rem 0;
  transition: border 0.1s linear;
  background-color: transparent;
  color: #ececec;
  font-family: Inter;
}
.input::before {
  content: attr(data-placeholder);
  position: absolute;
  left: 0;
  text-align: left;
  color: #9b9b9b;
  pointer-events: none;
  transition: all 0.1s ease-out;
  font-size: var(--meta-size);
  transform: translateY(100%);
  bottom: 0px;
}
.input:focus-within::before {
  transform: translateY(100%);
  bottom: 0px;
  font-size: var(--meta-size);
}

.input.blank::before {
  transform: translateY(0%);
  bottom: 3px;
  font-size: var(--data-size);
}
.input.blank:focus-within::before {
  transform: translateY(100%);
  bottom: 0px;
  font-size: var(--meta-size);
}
.input::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: height 0.1s linear, background-color 0.1s linear;
  background-color: gray;
}
.input:focus-within::after {
  background-color: #80ccbf;
  height: 3px;
}
.input.invalid:focus-within::after {
  background-color: #ed7b7b;
}
.input input:focus {
  outline: none;
}
.errormsg {
  position: absolute;
  width: 100%;
  bottom: 100%;
  left: 0;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 500;
  color: #ed7b7b;
  transition: opacity 0.1s linear, bottom 0.1s linear;
  font-size: var(--err-size);
  display: flex;
  align-items: center;
}
