ul.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
}
ul.menu li {
  padding: 0.5rem 0.75rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
ul.menu li svg {
  margin-right: 0.5rem;
}
ul.menu li a {
  text-decoration: none;
  color: var(--text);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
ul.menu li button {
  background-color: transparent;
  border-radius: 0;
  color: var(--text);
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
ul.menu li:last-child {
  padding-bottom: 0.75rem;
}
