.ml-1 {
  margin-left: 1rem;
}
.mr-0p5 {
  margin-right: 0.5rem;
}
.mr-0p25 {
  margin-right: 0.25rem;
}
.mr-1 {
  margin-right: 1rem;
}
.mr-2 {
  margin-right: 2rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-1.mt-1 {
  margin-top: 1rem;
}
.mt-1p5 {
  margin-top: 1.5rem;
}
.mb-1p5 {
  margin-bottom: 1.5rem;
}
.mt-2p5 {
  margin-top: 2.5rem;
}
.ml-0 {
  margin-left: 0;
}
.ml-1 {
  margin-left: 1rem;
}
.mt-0p5 {
  margin-top: 0.5rem !important;
}
.mt-0 {
  margin-top: 0;
}
.m-0.m-0 {
  margin: 0;
}
.m-auto {
  margin: auto;
}
.mx-0p25 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.mb-0p5 {
  margin-bottom: 0.5rem;
}
.mb-0p25 {
  margin-bottom: 0.25rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.px-0p5.px-0p5 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py-0p2 {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.ws-no-wrap {
  white-space: nowrap;
}
.va-text-bottom {
  vertical-align: text-bottom;
}
.fs-0 {
  font-size: 0 !important;
}
.fs-2.fs-2 {
  font-size: 2rem;
}
.fs-1p75.fs-1p75 {
  font-size: 1.75rem;
}
.fs-3 {
  font-size: 3rem;
}
.fs-1p5.fs-1p5 {
  font-size: 1.5rem;
}
.fs-0p85.fs-0p85 {
  font-size: 0.85rem;
}
.ff-audiowide {
  font-family: Audiowide;
}
.font-weight-lighter {
  font-weight: lighter;
}
.c-inherit.c-inherit {
  color: inherit;
}
.flex-1-1-auto {
  flex: 1 1 auto;
}
.flex-1 {
  flex: 1;
}
.ta-left {
  text-align: left;
}
.ta-right {
  text-align: right;
}
.o-0p6 {
  opacity: 0.6;
}
.d-flex {
  display: flex;
}
.align-items-end {
  align-items: end;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.flex-primary-left {
  justify-content: left;
}
.jc-space-between {
  justify-content: space-between;
}
.p-absolute {
  position: absolute;
}
.p-absolute-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.minh-75 {
  min-height: 75%;
}
.minw-75 {
  min-width: 75%;
}
.maxh-75 {
  max-height: 75%;
}
.a-reset {
  color: inherit;
  text-decoration: inherit;
}
.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-0p75.px-0p75 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.py-0p5.py-0p5 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-0p25.py-0p25 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.p-0p5.p-0p5 {
  padding: 0.5rem;
}
.p-0p75.p-0p75 {
  padding: 0.75rem;
}
.p-1p5 {
  padding: 1.5rem;
}
.p-1 {
  padding: 1rem;
}
.pointer-events-none {
  pointer-events: none;
}
.pointer-events-all {
  pointer-events: all;
}

.position-relative {
  position: relative;
}
.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.c-grey {
  color: grey;
}

.p-absolute {
  position: absolute;
}
.bottom-0 {
  bottom: 0;
}
.p-0p25.p-0p25 {
  padding: 0.25rem;
}
.p-0p35.p-0p35 {
  padding: 0.35rem;
}
.p-0p45.p-0p45 {
  padding: 0.45rem;
}
.float-right {
  float: right;
}
.gap-1 {
  gap: 1rem;
}
.justify-content-end {
  justify-content: flex-end;
}
.fw-100 {
  font-weight: 100;
}
.fw-500.fw-500 {
  font-weight: 500;
}
.mb-n0p5.mb-n0p5 {
  margin-bottom: -0.5rem;
}

.of-cover {
  object-fit: cover;
}
.of-contain {
  object-fit: contain;
}

.filter-gray {
  filter: grayscale(1);
}

.w-7 {
  width: 7rem;
}
.w-5 {
  width: 5rem;
}
.w-3 {
  width: 3rem;
}
.w-2 {
  width: 2rem;
}
.w-2p5 {
  width: 2.5rem;
}
.w-1p5 {
  width: 1.5rem;
}
.w-1p15 {
  width: 1.15rem;
}
.h-1p5 {
  height: 1.5rem;
}
.h-1p15 {
  height: 1.15rem;
}
.var-w-5 {
  --item-width: 5rem;
}
.h-7 {
  height: 7rem;
}
.h-4 {
  height: 4rem;
}
.h-3 {
  height: 3rem;
}
.h-2 {
  height: 2rem;
}
.h-2p5 {
  height: 2.5rem;
}
.h-5 {
  height: 5rem;
}

.br-5t {
  border-radius: 50%;
}

.scroll-shadows {
  /* max-height: 200px; */
  overflow: auto;
  background: linear-gradient(var(--scroll-back-color) 30%, rgba(255, 255, 255, 0)) center top,
    linear-gradient(rgba(255, 255, 255, 0), var(--scroll-back-color) 70%) center bottom,
    radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)) center top,
    radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)) center bottom;
  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}

@media (min-width: 768px) {
  .sm\:w-7p5 {
    width: 7.5rem;
  }
  .sm\:var-w-7p5 {
    --item-width: 7.5rem;
  }
  .sm\:h-6 {
    height: 6rem;
  }
}
@media (min-width: 1024px) {
  .md\:w-2 {
    width: 2rem;
  }
  .md\:var-w-10 {
    --item-width: 10rem;
  }
  .md\:h-2 {
    height: 2rem;
  }
}

.visible {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}

.p-0p25 {
  padding: 0.25rem;
}
.p-0p2 {
  padding: 0.2rem;
}
.p-0p15 {
  padding: 0.15rem;
}
.p-0p1 {
  padding: 0.1rem;
}
.ml-0p5 {
  margin-left: 0.5rem;
}
.ml-auto {
  margin-left: auto;
}
.ml-0p75 {
  margin-left: 0.75rem;
}
.flex-shrink-0 {
  flex-shrink: 0;
}

@supports selector(::-webkit-scrollbar) {
  .scrollable::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .scrollable::-webkit-scrollbar-track {
    background: #ffffff00;
  }
  .scrollable:hover::-webkit-scrollbar-thumb {
    background-color: #989898;
  }
  .scrollable::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  .scrollable::-webkit-scrollbar-thumb:hover {
    background-color: #777;
  }
  .scrollable::-webkit-scrollbar-thumb:active {
    background-color: #585858;
  }
  .scrollable::-webkit-scrollbar-button {
    display: none;
  }

  .xterm .xterm-viewport::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .xterm .xterm-viewport::-webkit-scrollbar-track {
    background: #ffffff00;
  }
  .xterm .xterm-viewport::-webkit-scrollbar-thumb {
    background-color: #989898;
  }
  .xterm .xterm-viewport::-webkit-scrollbar-thumb:hover {
    background-color: #777;
  }
  .xterm .xterm-viewport::-webkit-scrollbar-thumb:active {
    background-color: #585858;
  }
  .xterm .xterm-viewport::-webkit-scrollbar-button {
    display: none;
  }
}
