.modal {
  position: fixed;
  z-index: 50;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  right: calc(-100% - 1rem);
  width: 100%;
  background-color: #414041;
  box-shadow: 0px 0px 25px 5px #232323;
  color: #ddd;
  display: flex;
  flex-direction: column;
}
.modal.slide {
}
.modal.pop {
  width: 100%;
  left: 50%;
  right: unset;
  margin: 0 auto;
}
.modal.menu {
  position: absolute;
  transform: none;
  width: auto;
  height: auto !important;
  padding: 0;
  box-shadow: rgb(14 14 14 / 12%) 0px 8px 16px, rgb(14 14 14 / 12%) 0px 8px 16px !important;
  margin-top: 0.5rem;
}
.modal.full {
  height: 100%;
  box-shadow: none;
}
.modal.ignore-header {
  top: calc(50% + var(--header-height));
  transform: translateY(calc(-50% - var(--header-height) / 2));
  height: calc(100% - var(--header-height));
}

.modal.layer0 {
  z-index: 101;
}
.modal.layer1 {
  z-index: 106;
}
.modal.layer2 {
  z-index: 111;
}

@media (min-width: 768px) {
  .modal.pop {
    width: min-content;
  }
}
