.editable {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.editable .displayname {
  left: 0px;
  top: calc(-4px + 0.5rem);
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  display: -webkit-box;
}
.action {
  margin-left: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: #b3b3b3;
}
