.heading {
  font-size: 2rem;
  font-weight: 400;
  color: beige;
  text-align: center;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
}

.template {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  border: 1px solid grey;
  width: 8rem;
  border-radius: 1rem;
  cursor: pointer;
}
.template span {
  color: rgb(226, 226, 226);
  font-weight: 400;
  font-size: 1rem;
  margin-top: 0.5rem;
}

@media (hover: hover) {
  .template:hover {
    cursor: pointer;
  }
}
