.environment {
  display: flex;
  height: 100vh;
  color: beige;
  position: relative;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;
}
.wait {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  color: beige;
}

.about {
}
.abheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.abcontent {
}
.abinfo {
}
.abtitle {
}
.abvalues {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.abactions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.platform {
  max-width: 25rem;
}
