.create {
  position: relative;
  z-index: 101;
  padding: 2.5rem;
  background-color: #262626d4;
}
.create h2 {
  color: beige;
  font-weight: 200;
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.create > label {
  width: 100%;
}

@media (min-width: 768px) {
  .create {
    width: 40rem;
  }
  .create > label {
    display: block;
    width: 20rem;
  }
}
